@model ImgInfoVM
@{
    var index = Guid.NewGuid();
    var indexName = "DrawingMgtWFPicture.Index";
    ViewData.TemplateInfo.HtmlFieldPrefix = "DrawingMgtWFPicture[" + index + "]";
}
<div class="col-sm-3" data-file-name="@Model.FileName">
    <div class="thumbnail">
        <button type="button" class="close close-item" data-dismiss="panel" aria-label="Close"><span aria-hidden="true">×</span></button>
        <input type="hidden" name="@indexName" value="@index" />
        <a class="example-image-link" href="@Model.Url" data-lightbox="WorkImageUrl"
           style="display:flex; text-align: center;vertical-align: middle; width: 100%; height: 160px; overflow: hidden;
                justify-content: center;align-items: center;">
            <img data-src="holder.js/100%x200" alt="100%x200"
                 src="@Model.Url" data-holder-rendered="true" data-lightbox="WorkImageUrl"
                 style="height: 150px; width: 100%; display: block;">
        </a>
        <div class="caption">
            <div class="row">
                <div class="col-sm-4">
                    @Html.UILabelFor(x => x.UserName)
                </div>
                <div class="col-sm-8">
                    <div class="form-text-row">@Model.UserName</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    @Html.UILabelFor(x => x.FileName)
                </div>
                <div class="col-sm-8">
                    @Html.UIDisplayFor(x => x.FileName)
                </div>
            </div>
           
            <div class="row">
                <div class="col-sm-4">
                    @Html.UILabelFor(x => x.SerialNumber)
                </div>
                <div class="col-sm-8">
                    @*@if (ShowWF)
                        {
                            <div class="form-control-static"><a data-wfid="@Model.DrawingMgtWFId">@Model.SerialNumber</a></div>
                        }
                        else
                        {
                            @Html.UIDisplayFor(x => x.SerialNumber)
                        }*@

                    @Html.UIDisplayFor(x => x.SerialNumber)
                </div>
            </div>

            @if (Model.CreatorTime.HasValue)
            {
                <div class="row">
                    <div class="col-sm-4">
                        @Html.UILabelFor(x => x.CreatorTime)
                    </div>
                    <div class="col-sm-8">
                        @Html.UIDisplayFor(x => x.CreatorTime)
                    </div>
                </div>
            }
        </div>
    </div>
</div>


