
<div class="panel panel-success">
    <div class="panel-heading">
        列表组件
    </div>
    <div class="panel-body">
        <div class="list-group form-horizontal">
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-3">
                            @Html.UILabel("标题")
                        </div>
                        <div class="col-sm-9">
                            @Html.UIDisplay("描述")
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-3">
                            @Html.UILabel("标题")
                        </div>
                        <div class="col-sm-9">
                            @Html.UIDisplay("描述")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="col-sm-2">
                            @Html.UILabel("标题")
                        </div>
                        <div class="col-sm-10">
                            @Html.UIAreaDisplay("描述")
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-3">
                            @Html.UILabel("标题")
                        </div>
                        <div class="col-sm-9">
                            @Html.UIDisplay("描述")
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-3">
                            @Html.UILabel("标题")
                        </div>
                        <div class="col-sm-9">
                            @Html.UIDisplay("描述")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="col-sm-2">
                            @Html.UILabel("标题")
                        </div>
                        <div class="col-sm-10">
                            @Html.UIAreaDisplay("描述")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>