@using Component.UI.MVC.Core;
@using Component.ViewModel.WorkFlowViewMoels;
@{
    ViewBag.Title = "AdvancedForm";
    var countrys = new List<SelectListItem>();
    countrys.Add(new SelectListItem()
    {
        Text="Chinese",
        Value="CN"
    });
    countrys.Add(new SelectListItem()
    {
        Text = "English",
        Value = "EN"
    });
}
@model AdvancedForm

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <h1>
            AdvancedForm
            @*<small>Control panel</small>*@
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Forms</a></li>
            <li class="active">Advanced Form</li>
        </ol>
    </div>

    <!-- Main content -->
    <div class="content">
        <div class="form-horizontal">
            <form id="viewForm">
                <div class="panel-group">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            表单信息
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group form-group-sm col-sm-10">
                                    <div class="col-sm-2">
                                        @Html.UILabelFor(x => x.Country)
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(x => x.Country, "MultiSelect", new { SelectList = countrys })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-group-sm col-sm-10">
                                    <div class="col-sm-2">
                                        @Html.UILabelFor(x => x.Desctription)
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(x => x.Desctription, "RichText")
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-group-sm col-sm-10">
                                    <div class="col-sm-2">
                                        @Html.UILabelFor(x => x.Attachmentid)
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(x => x.Attachmentid, "File")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </form>
        </div>
    </div>
    <!-- /.content -->
</div>

